body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ecf0f3;
}

.container {
    width: 55%;
    height: 55vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 12px 12px 20px #cbced1, -12px -12px 20px #ffffff;
}

.display #screen {
    width: 97%;
    height: 97px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding: 0.5rem;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.btns {
    width: 100%;
    margin-top: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns .row button {
    width: 120px;
    height: 45px;
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffffff;
    transition: 0.1s;
}

.btns .row button:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1),
        inset -5px -5px 8px #fff;
    background: #f7f7f7;
}

#eval {
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff, inset -5px -5px 8px #00ace6;
}

#eval:hover {
    box-shadow: inset 5px 5px 8px #00ace6, inset -5px -5px 8px #00ace6;
}

#ac {
    background: #72eb22;
    color: #fff;
    box-shadow: inset 5px 5px 8px #65c758, inset -5px -5px 8px #70e26c;
}

#ac:hover {
    box-shadow: inset 5px 5px 8px #209626, inset -5px -5px 8px #6be061;
}

#ce {
    background: #f01811;
    color: #fff;
    box-shadow: inset 5px 5px 8px #fa3434, inset -5px -5px 8px #fa3c3c;
}

#ce:hover {
    box-shadow: inset 5px 5px 8px #922323, inset -5px -5px 8px #ff5656;
}